-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."StatutAnnonce" AS ENUM ('BROUILLON', 'EN_ATTENTE', 'PUBLIE', 'REJETE', 'ANNULE');

-- CreateEnum
CREATE TYPE "public"."StatutBail" AS ENUM ('ACTIF', 'TERMINE', 'RESILIE');

-- CreateEnum
CREATE TYPE "public"."StatutContrat" AS ENUM ('BROUILLON', 'ACTIF', 'ARCHIVE');

-- CreateEnum
CREATE TYPE "public"."StatutLocataire" AS ENUM ('INVITE', 'ACTIF', 'INACTIF');

-- CreateEnum
CREATE TYPE "public"."TypePieceIdentite" AS ENUM ('CNI', 'PASSEPORT', 'CARTE_CONSULAIRE', 'AUTRE');

-- CreateTable
CREATE TABLE "public"."Admin" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Admin_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."BailLocation" (
    "id" TEXT NOT NULL,
    "bienId" TEXT NOT NULL,
    "locataireId" TEXT NOT NULL,
    "proprietaireId" TEXT NOT NULL,
    "typeBail" TEXT,
    "dateDebutBail" TIMESTAMP(3) NOT NULL,
    "dateFinBail" TIMESTAMP(3),
    "renouvellement" BOOLEAN NOT NULL DEFAULT false,
    "montantLoyer" DOUBLE PRECISION NOT NULL,
    "montantCaution" DOUBLE PRECISION,
    "frequencePaiement" TEXT,
    "statut" "public"."StatutBail" NOT NULL DEFAULT 'ACTIF',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BailLocation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Bien" (
    "id" TEXT NOT NULL,
    "titre" TEXT,
    "description" TEXT,
    "typeLogementId" TEXT,
    "typeTransactionId" TEXT,
    "statutBienId" TEXT,
    "proprietaireId" TEXT NOT NULL,
    "pays" TEXT,
    "region" TEXT,
    "ville" TEXT,
    "quartier" TEXT,
    "adresse" TEXT,
    "pointRepere" TEXT,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "surface" DOUBLE PRECISION,
    "surfaceParcelle" DOUBLE PRECISION,
    "nbChambres" INTEGER,
    "nbSdb" INTEGER,
    "nbSalons" INTEGER,
    "nbCuisines" INTEGER,
    "etage" INTEGER,
    "nbEtages" INTEGER,
    "nbAppartements" INTEGER,
    "nbPieces" INTEGER,
    "nbWc" INTEGER,
    "typeTerrain" TEXT,
    "cloture" BOOLEAN NOT NULL DEFAULT false,
    "typeBureau" TEXT,
    "rideauMetallique" BOOLEAN NOT NULL DEFAULT false,
    "meuble" BOOLEAN NOT NULL DEFAULT false,
    "fumeurs" BOOLEAN NOT NULL DEFAULT false,
    "animaux" BOOLEAN NOT NULL DEFAULT false,
    "parking" BOOLEAN NOT NULL DEFAULT false,
    "ascenseur" BOOLEAN NOT NULL DEFAULT false,
    "prix" DOUBLE PRECISION,
    "frequencePaiement" TEXT,
    "chargesIncluses" BOOLEAN NOT NULL DEFAULT false,
    "caution" DOUBLE PRECISION,
    "disponibleLe" TIMESTAMP(3),
    "photos" TEXT[],
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "statutAnnonce" "public"."StatutAnnonce" NOT NULL DEFAULT 'BROUILLON',
    "noteAdmin" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "hasPendingRevision" BOOLEAN NOT NULL DEFAULT false,
    "pendingRevision" JSONB,

    CONSTRAINT "Bien_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."BienEquipement" (
    "bienId" TEXT NOT NULL,
    "equipementId" TEXT NOT NULL
);

-- CreateTable
CREATE TABLE "public"."BienMeuble" (
    "bienId" TEXT NOT NULL,
    "meubleId" TEXT NOT NULL,
    "quantite" INTEGER NOT NULL DEFAULT 1
);

-- CreateTable
CREATE TABLE "public"."CategorieEquipement" (
    "id" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "ordre" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CategorieEquipement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CategorieMeuble" (
    "id" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "ordre" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CategorieMeuble_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Contrat" (
    "id" TEXT NOT NULL,
    "bailId" TEXT NOT NULL,
    "modeleId" TEXT,
    "titre" TEXT NOT NULL,
    "contenu" TEXT NOT NULL,
    "statut" "public"."StatutContrat" NOT NULL DEFAULT 'BROUILLON',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Contrat_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Equipement" (
    "id" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "categorieId" TEXT NOT NULL,

    CONSTRAINT "Equipement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Etablissement" (
    "id" TEXT NOT NULL,
    "bienId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "nom" TEXT,
    "latitude" DOUBLE PRECISION NOT NULL,
    "longitude" DOUBLE PRECISION NOT NULL,
    "distance" DOUBLE PRECISION,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Etablissement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Locataire" (
    "id" TEXT NOT NULL,
    "proprietaireId" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "prenom" TEXT NOT NULL,
    "telephone" TEXT NOT NULL,
    "email" TEXT,
    "nbOccupants" INTEGER NOT NULL DEFAULT 1,
    "presenceEnfants" BOOLEAN NOT NULL DEFAULT false,
    "dateNaissance" TIMESTAMP(3),
    "lieuNaissance" TEXT,
    "nationalite" TEXT,
    "sexe" TEXT,
    "numPieceIdentite" TEXT,
    "typePiece" "public"."TypePieceIdentite",
    "dateDelivrance" TIMESTAMP(3),
    "dateExpiration" TIMESTAMP(3),
    "autoriteDelivrance" TEXT,
    "situationProfessionnelle" TEXT,
    "activationToken" TEXT,
    "tokenExpiresAt" TIMESTAMP(3),
    "statut" "public"."StatutLocataire" NOT NULL DEFAULT 'INVITE',
    "password" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Locataire_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."LocataireRefreshToken" (
    "id" TEXT NOT NULL,
    "locataireId" TEXT NOT NULL,
    "tokenHash" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "revokedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LocataireRefreshToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Meuble" (
    "id" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "categorieId" TEXT NOT NULL,

    CONSTRAINT "Meuble_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ModeleContrat" (
    "id" TEXT NOT NULL,
    "titre" TEXT NOT NULL,
    "typeBail" TEXT,
    "contenu" TEXT NOT NULL,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "ordre" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ModeleContrat_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Pays" (
    "id" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Pays_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Proprietaire" (
    "id" TEXT NOT NULL,
    "prenom" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "sexe" TEXT,
    "telephone" TEXT NOT NULL,
    "email" TEXT,
    "password" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Proprietaire_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ProprietaireRefreshToken" (
    "id" TEXT NOT NULL,
    "proprietaireId" TEXT NOT NULL,
    "tokenHash" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "revokedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ProprietaireRefreshToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."RefreshToken" (
    "id" TEXT NOT NULL,
    "adminId" TEXT NOT NULL,
    "tokenHash" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "revokedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RefreshToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StatutBien" (
    "id" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "ordre" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StatutBien_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."TypeLogement" (
    "id" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "image" TEXT,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "ordre" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TypeLogement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."TypeTransaction" (
    "id" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "actif" BOOLEAN NOT NULL DEFAULT true,
    "ordre" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TypeTransaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Ville" (
    "id" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "paysId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Ville_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Admin_email_key" ON "public"."Admin"("email" ASC);

-- CreateIndex
CREATE INDEX "BailLocation_bienId_idx" ON "public"."BailLocation"("bienId" ASC);

-- CreateIndex
CREATE INDEX "BailLocation_locataireId_idx" ON "public"."BailLocation"("locataireId" ASC);

-- CreateIndex
CREATE INDEX "BailLocation_proprietaireId_idx" ON "public"."BailLocation"("proprietaireId" ASC);

-- CreateIndex
CREATE INDEX "BailLocation_statut_idx" ON "public"."BailLocation"("statut" ASC);

-- CreateIndex
CREATE INDEX "Bien_proprietaireId_idx" ON "public"."Bien"("proprietaireId" ASC);

-- CreateIndex
CREATE INDEX "Bien_statutAnnonce_idx" ON "public"."Bien"("statutAnnonce" ASC);

-- CreateIndex
CREATE INDEX "Bien_statutBienId_idx" ON "public"."Bien"("statutBienId" ASC);

-- CreateIndex
CREATE INDEX "Bien_typeLogementId_idx" ON "public"."Bien"("typeLogementId" ASC);

-- CreateIndex
CREATE INDEX "Bien_typeTransactionId_idx" ON "public"."Bien"("typeTransactionId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "BienEquipement_bienId_equipementId_key" ON "public"."BienEquipement"("bienId" ASC, "equipementId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "BienMeuble_bienId_meubleId_key" ON "public"."BienMeuble"("bienId" ASC, "meubleId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "CategorieEquipement_nom_key" ON "public"."CategorieEquipement"("nom" ASC);

-- CreateIndex
CREATE INDEX "CategorieEquipement_slug_idx" ON "public"."CategorieEquipement"("slug" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "CategorieEquipement_slug_key" ON "public"."CategorieEquipement"("slug" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "CategorieMeuble_nom_key" ON "public"."CategorieMeuble"("nom" ASC);

-- CreateIndex
CREATE INDEX "CategorieMeuble_slug_idx" ON "public"."CategorieMeuble"("slug" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "CategorieMeuble_slug_key" ON "public"."CategorieMeuble"("slug" ASC);

-- CreateIndex
CREATE INDEX "Contrat_bailId_idx" ON "public"."Contrat"("bailId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Contrat_bailId_key" ON "public"."Contrat"("bailId" ASC);

-- CreateIndex
CREATE INDEX "Contrat_modeleId_idx" ON "public"."Contrat"("modeleId" ASC);

-- CreateIndex
CREATE INDEX "Equipement_categorieId_idx" ON "public"."Equipement"("categorieId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Equipement_nom_categorieId_key" ON "public"."Equipement"("nom" ASC, "categorieId" ASC);

-- CreateIndex
CREATE INDEX "Etablissement_bienId_idx" ON "public"."Etablissement"("bienId" ASC);

-- CreateIndex
CREATE INDEX "Etablissement_type_idx" ON "public"."Etablissement"("type" ASC);

-- CreateIndex
CREATE INDEX "Locataire_activationToken_idx" ON "public"."Locataire"("activationToken" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Locataire_activationToken_key" ON "public"."Locataire"("activationToken" ASC);

-- CreateIndex
CREATE INDEX "Locataire_proprietaireId_idx" ON "public"."Locataire"("proprietaireId" ASC);

-- CreateIndex
CREATE INDEX "LocataireRefreshToken_locataireId_idx" ON "public"."LocataireRefreshToken"("locataireId" ASC);

-- CreateIndex
CREATE INDEX "LocataireRefreshToken_tokenHash_idx" ON "public"."LocataireRefreshToken"("tokenHash" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "LocataireRefreshToken_tokenHash_key" ON "public"."LocataireRefreshToken"("tokenHash" ASC);

-- CreateIndex
CREATE INDEX "Meuble_categorieId_idx" ON "public"."Meuble"("categorieId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Meuble_nom_categorieId_key" ON "public"."Meuble"("nom" ASC, "categorieId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Pays_code_key" ON "public"."Pays"("code" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Pays_nom_key" ON "public"."Pays"("nom" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Proprietaire_email_key" ON "public"."Proprietaire"("email" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Proprietaire_telephone_key" ON "public"."Proprietaire"("telephone" ASC);

-- CreateIndex
CREATE INDEX "ProprietaireRefreshToken_proprietaireId_idx" ON "public"."ProprietaireRefreshToken"("proprietaireId" ASC);

-- CreateIndex
CREATE INDEX "ProprietaireRefreshToken_tokenHash_idx" ON "public"."ProprietaireRefreshToken"("tokenHash" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "ProprietaireRefreshToken_tokenHash_key" ON "public"."ProprietaireRefreshToken"("tokenHash" ASC);

-- CreateIndex
CREATE INDEX "RefreshToken_adminId_idx" ON "public"."RefreshToken"("adminId" ASC);

-- CreateIndex
CREATE INDEX "RefreshToken_tokenHash_idx" ON "public"."RefreshToken"("tokenHash" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "RefreshToken_tokenHash_key" ON "public"."RefreshToken"("tokenHash" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "StatutBien_nom_key" ON "public"."StatutBien"("nom" ASC);

-- CreateIndex
CREATE INDEX "StatutBien_slug_idx" ON "public"."StatutBien"("slug" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "StatutBien_slug_key" ON "public"."StatutBien"("slug" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "TypeLogement_nom_key" ON "public"."TypeLogement"("nom" ASC);

-- CreateIndex
CREATE INDEX "TypeLogement_slug_idx" ON "public"."TypeLogement"("slug" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "TypeLogement_slug_key" ON "public"."TypeLogement"("slug" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "TypeTransaction_nom_key" ON "public"."TypeTransaction"("nom" ASC);

-- CreateIndex
CREATE INDEX "TypeTransaction_slug_idx" ON "public"."TypeTransaction"("slug" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "TypeTransaction_slug_key" ON "public"."TypeTransaction"("slug" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Ville_nom_paysId_key" ON "public"."Ville"("nom" ASC, "paysId" ASC);

-- AddForeignKey
ALTER TABLE "public"."BailLocation" ADD CONSTRAINT "BailLocation_bienId_fkey" FOREIGN KEY ("bienId") REFERENCES "public"."Bien"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."BailLocation" ADD CONSTRAINT "BailLocation_locataireId_fkey" FOREIGN KEY ("locataireId") REFERENCES "public"."Locataire"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."BailLocation" ADD CONSTRAINT "BailLocation_proprietaireId_fkey" FOREIGN KEY ("proprietaireId") REFERENCES "public"."Proprietaire"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Bien" ADD CONSTRAINT "Bien_proprietaireId_fkey" FOREIGN KEY ("proprietaireId") REFERENCES "public"."Proprietaire"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Bien" ADD CONSTRAINT "Bien_statutBienId_fkey" FOREIGN KEY ("statutBienId") REFERENCES "public"."StatutBien"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Bien" ADD CONSTRAINT "Bien_typeLogementId_fkey" FOREIGN KEY ("typeLogementId") REFERENCES "public"."TypeLogement"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Bien" ADD CONSTRAINT "Bien_typeTransactionId_fkey" FOREIGN KEY ("typeTransactionId") REFERENCES "public"."TypeTransaction"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."BienEquipement" ADD CONSTRAINT "BienEquipement_bienId_fkey" FOREIGN KEY ("bienId") REFERENCES "public"."Bien"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."BienEquipement" ADD CONSTRAINT "BienEquipement_equipementId_fkey" FOREIGN KEY ("equipementId") REFERENCES "public"."Equipement"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."BienMeuble" ADD CONSTRAINT "BienMeuble_bienId_fkey" FOREIGN KEY ("bienId") REFERENCES "public"."Bien"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."BienMeuble" ADD CONSTRAINT "BienMeuble_meubleId_fkey" FOREIGN KEY ("meubleId") REFERENCES "public"."Meuble"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Contrat" ADD CONSTRAINT "Contrat_bailId_fkey" FOREIGN KEY ("bailId") REFERENCES "public"."BailLocation"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Contrat" ADD CONSTRAINT "Contrat_modeleId_fkey" FOREIGN KEY ("modeleId") REFERENCES "public"."ModeleContrat"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Equipement" ADD CONSTRAINT "Equipement_categorieId_fkey" FOREIGN KEY ("categorieId") REFERENCES "public"."CategorieEquipement"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Etablissement" ADD CONSTRAINT "Etablissement_bienId_fkey" FOREIGN KEY ("bienId") REFERENCES "public"."Bien"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Locataire" ADD CONSTRAINT "Locataire_proprietaireId_fkey" FOREIGN KEY ("proprietaireId") REFERENCES "public"."Proprietaire"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."LocataireRefreshToken" ADD CONSTRAINT "LocataireRefreshToken_locataireId_fkey" FOREIGN KEY ("locataireId") REFERENCES "public"."Locataire"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Meuble" ADD CONSTRAINT "Meuble_categorieId_fkey" FOREIGN KEY ("categorieId") REFERENCES "public"."CategorieMeuble"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ProprietaireRefreshToken" ADD CONSTRAINT "ProprietaireRefreshToken_proprietaireId_fkey" FOREIGN KEY ("proprietaireId") REFERENCES "public"."Proprietaire"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."RefreshToken" ADD CONSTRAINT "RefreshToken_adminId_fkey" FOREIGN KEY ("adminId") REFERENCES "public"."Admin"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Ville" ADD CONSTRAINT "Ville_paysId_fkey" FOREIGN KEY ("paysId") REFERENCES "public"."Pays"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

